.review-items {
  border: 1px solid;
  border-radius: 8px;
  padding: 8px;
  margin-top: 21px;
  width: 571px;
  display: flex;
}

.product-name {
  padding-bottom: 10px;
}

.review-container {
  width: 100%;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-item-details p {
  margin: 0;
}

button {
  cursor: pointer;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  background-color: rgba(209, 9, 9, 0.315);
  border: none;
  border-radius: 50%;
}

button i {
  font-size: 24px;
  color: rgba(209, 9, 9, 0.719);
}
